.page-template-downloads{

    .banner{

        .page-title{
            line-height: 1.258em;
            font-size: 3.4em;
            font-weight: 700;
            color: $white_color;
            margin: 0 0 10px;
        } /*title*/

        .entry-subtitle{
            line-height: 1.6em;
            font-size: 1.1em;
            color: #dae1e7;
            margin: 0 0 50px;
        } /*banner-content*/

    } //banner

} //page-template-downloads
