// BASIC COLOR
$primary_color		: #2f8be6 !default;
$font_color			: #454f59 !default;
$white_color		: #ffffff !default;
$black_color		: #000000 !default;
$secondary_color	: #21272c !default;
$footer_bg_color	: #21272c !default;
$green_color		: #2aa461 !default;

// FONTS
$font_primary   : 'Roboto', sans-serif;